<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="cancelSharedModal" class="modal" th:fragment="cancelSharedModal">
    <div class="modal-content">
        <h4 th:text="#{shared.file.delete.confirmation}">Are you sure that you want to delete this file?</h4>
    </div>

    <div class="modal-footer">
        <form id="cancel-file-form" class="inline-form" th:action="@{/shared}" th:method="DELETE">
            <button id="btn-cancel" type="submit" th:text="#{shared.file.delete.confirmation.btn}" class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</button>

            <input id="cloudFileNameCancel" name="cloudFileName" th:hidden="true"/>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>

    <script th:inline="javascript">
        function openCancelModal(cloudFileName) {
            $('#cloudFileNameCancel').val(cloudFileName);
            $('#cancelSharedModal').modal('open');
        }
    </script>
</div>
</html>