<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{upload.file.page.title}">WebDrive Upload file</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="container">
        <div class="row">
            <h4 class="indigo-text center" th:text="#{upload.file.header}">Upload new file</h4>
        </div>

        <div th:replace="layout/uploadPreloader :: uploadPreloader"></div>

        <div id="fileUploadForm" class="row">
            <form id="uploadForm" class="col m6 s10 offset-m3 offset-s1" th:action="@{/upload}" enctype="multipart/form-data" method="POST">
                <div class="file-field input-field">
                    <div class="btn indigo">
                        <span th:text="#{upload.file.label.button}">File</span>
                        <input type="file" name="file" id="uploadedFile" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <input id="description" name="description" type="text" data-length="20" />
                        <label for="description" th:text="#{upload.file.label.description}">Short description</label>
                    </div>
                </div>

                <div class="row center">
                    <button id="btn-upload" class="btn indigo waves-effect waves-light" type="submit" name="action"
                            th:utext="#{upload.file.form.submit}">Upload <i class="small material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        $('#uploadedFile').bind('change', function() {
            if(this.files[0].size > 104857600) {
                Materialize.toast([[#{upload.file.exceeded.max}]], 4000)
                $('#uploadedFile').val('');
            }
        });
    </script>
</div>

<script type="text/javascript" layout:fragment="script">
    $(document).ready(function(){
        $(".nav-content ul li a").removeClass("active");
        $("#filesTab").addClass("active");

        $('#uploadForm').submit(function(){
            $('#preloader').show();
            $('#fileUploadForm').hide();
        });
    });
</script>
</body>
</html>